@model IEnumerable<SarajevoEvents.Models.Karta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDDogadjaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrovaniKorisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDPlacanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDogadjaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrovaniKorisnik.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDPlacanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
